<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Kakebo - {% block title %}{% endblock %}</title>
        <meta name="description" content="Apprenez à gérer votre budget au jour le jour avec Kakebo">

        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}"

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5" aria-label="Kakebo navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_home') }}">Kakebo</a>
                <button button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Profil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <main>
            {% block body %}{% endblock %}

            <footer class="container-fluid">
                <p class="text-center">&copy; Kakebo 2024</p>
            </footer>
        </main>
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
